@model List<UsuarioModel>

@{
    ViewData["Title"] = "Listagem de usuários";
}


<div class="text-center">
    <h1>Listagem de usuários</h1>
</div>

<br />
<div>
    <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo usuário</a>
</div>
<br />

@if (TempData["MensagemSucesso"] != null) {
    <div class="alert alert-success text-center" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}


@if (TempData["MensagemErro"] != null) {
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<br />

<table class="table table-striped table-hover" id="table-usuarios">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Perfil</th>
            <th scope="col">Data de Cadastro</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {
            foreach (var usuario in Model) {
        <tr>
            <th scope="row">@usuario.Id</th>
            <td>@usuario.Nome</td>
            <td>@usuario.Login</td>
            <td>@usuario.Email</td>
            <td>@(usuario.Perfil == ControleDeContatos.Enums.PerfilEnum.Admin ? "Administador" : "Padrão")</td>
            <td>@usuario.DataCadastro</td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" asp-action="Editar" asp-controller="Usuario" asp-route-id="@usuario.Id" class="btn btn-warning">Editar</a>
                    <a role="button" asp-action="ApagarConfirmacao" asp-controller="Usuario" asp-route-id="@usuario.Id" class="btn btn-danger">Apagar</a>

                </div>
            </td>

        </tr>
            }

        }

        else {
            <tr class="add">
                <td valign="top" colspan="5">Nenhum usuário encontrado</td>
            </tr>
        }

    </tbody>
</table>